
/*
     FILE ARCHIVED ON 09:10:42 Mar 04, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:48:30 Jul 13, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.579
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.01
  esindex: 0.01
  cdx.remote: 54.61
  LoadShardBlock: 519.593 (6)
  PetaboxLoader3.resolve: 406.282 (4)
  PetaboxLoader3.datanode: 246.945 (8)
  load_resource: 238.74
  loaddict: 47.598
*/